h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

p {
    color: black;
}

body {
    background-image: url('pussel_background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    width: 33.3%;
    padding: 10px;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

p {
    text-align: center;
}




