h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

h5 {
    font-family: 'Roboto Slab', serif;
    font-size: 14px;
    font-weight: normal;
    color: black;


}
h6 {
    color: black;
}
/*
.kategoriertext {
    font-family: 'Roboto Slab', serif;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: black;
 text-align: left;
}

 */


/*Copyright*/
p {
    color: black;
    text-align: center;
}

#omoss {
    text-align: left;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 10px;
}

/*Categories*/
a {
    color: #524f52;
    text-align: left;
}

body {
    background-color: #f5fffa;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    height: 650%;
    margin-top: -55px;
    margin-left: -12px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.start {
    float: left;
    width: 33.3%;
    padding: 10px;
}

.rubrik {
    font-family: 'Galada';
    font-size: 18px;
    font-weight: normal;
    color: #f25e5e;
}


/* Clear floats after image containers */
.fixing-start {
    display: table;
    margin-top: 50px;
    padding: 5px;
}

.row {
    margin-top: 50px;
}

.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 47%;
}

.text-center {
    text-align: center;
    display: inline-block;
}

{box-sizing: border-box;}



.navbar-fixed-bottom {
    background-color: #ADC3D1;
}

.navbar-fixed-top {
    background-color: #ADC3D1;
}

.centrerad {
    text-align: center;
}

.container {
    text-align: center;

}
.pagination2 {
   margin-bottom:80px;
   display: inline-block;
   text-align: center;


}

.pagination2 {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;


}
.pagination2.active{
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}



.pagination2 :hover:not(.active) {
background-color: #ddd;}

/* Footer */

.foot {
    margin-top: 15px;
}

.omoss {
    float: left;
    margin-left: 15px;
}

.email {
    float: right;
    margin-right: 15px;
}
