h1 {
    color: black;
}

h2 {
    color: black;
}

h3 {
    color: black;
}

h5 {
font-family: 'Roboto Slab', serif;
 font-size: 14px;
    font-weight: normal;
    color: black;
    text-align: left;

}
h6 {
    color: black;
}

.kategoriertext {
font-family: 'Roboto Slab', serif;
font-family: 'Muli', sans-serif;
 font-size: 16px;
    font-weight: normal;
    color: black;
    text-align: left;
}

/*Copyright*/
p {
    color: black;
    text-align: center;
}

/*Categories*/
a {
    color: #524f52;
}

body {
    background-color: #EEECF1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#logo {
    height: 650%;
    margin-top: -55px;
    margin-left: -12px;
}


/* Three image containers (use 25% for four, and 50% for two, etc) */
.start {
    float: left;
    width: 33.3%;
    padding: 10px;
}

.rubrik {
    font-family: 'Galada';
    font-size: 18px;
    font-weight: normal;
    color: #f25e5e;
}


/* Clear floats after image containers */
.fixing-start {
    display: table;
    margin-top: 50px;
    padding: 5px;
}

.row {
    margin-top: 50px;
}

.img-thumbnail {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 47%;
}

.text-center {
    text-align: center;
    display: inline-block;
}

{box-sizing: border-box;}

//Chatfunktion

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.navbar-fixed-bottom {
    background-color: #ADC3D1;
}

.navbar-fixed-top {
    background-color: #ADC3D1;
}

.centrerad {
    text-align: center;
}

.container {
    text-align: center;
}
.pagination2 {
    margin-bottom:50px;
}
