<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
        <title>Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" type="image/png" href="logo2.png"/>
</head>
<body>

<form action="/omoss" method="POST"></form>
<div class="container">
    <nav class="navbar navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/spel"><img id="logo" src="bytaspel2.png" alt="logo"></a>
            </div>
        </div>
    </nav>
</div>
<footer>
    <div class="container">
        <nav class="navbar navbar-fixed-bottom">
            <div class="row foot">
                <div class="col-lg-4">
                </div>
                <div class="col-lg-4">
                    <div class="copyright">
                        <p>© 2020 Copyright: Byta Spel</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="email">
                        <a href=mailto: subject="HTML link" style="color: black">info@bytaspel.se</a>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</footer>
<div class="container">
    <div class="row">
        <div class="column">

            <h1> Om Byta spel</h1>
            <p id="omoss">Byta spel är en hemsida som skapades av en grupp tjejer under deras examensarbete. Vi älskar
                att spela sällskapsspel men
                finner det både kostsamt och ohållbart att köpa nya spel, vi kom då på idén med Byta Spel. <br><br>
                Ett snabbt och enkelt sätt att låna ut eller skänka bort sina begaganade spel och i gengäld kunna
                låna/få hem andra användares spel.
                Byta Spel är hemsidan för dig som älskar att spela sällskapspel och som vill dela spelglädjen med andra
                medlemmar runt om i Stockholm.
                Genom att låna eller låna ut dina begagnade spel gör du både en god sak för miljön och plånboken. På
                Byta Spel kan du välja att låna ut
                eller skänka bort dina begagnade spel till andra medlemmar och även få möjligheten till att själv låna
                hem spel från andra användare.
                De begagnade spelen ska vara i gott skick så att spelupplevelsen blir lika rolig i begagnat som nytt
                skick. <br><br>
                För att låna ut eller skänka bort ett spel lägger du enkelt upp spelet på Byta Spel hemsida. Är du
                intresserad av att låna hem ett spel
                kontakar du den ansvariga användaren och kommer överens om när och var ni vill ses för en överlämning av
                spelet.<br><br>
                Att annonsera på Byta Spel är helt gratis!
            </p>
        </div>
    </div>
</div>

</body>
</html>
