<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
        <title>Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" type="image/png" href="logo2.png"/>
</head>
<body>

        <form action="/omoss" method="POST"></form>
        <div class="text-center">
            <h1> Om Byta spel</h1>
            <p>Byta spel är en hemsida som skapades av en grupp tjejer under deras examensarbete. Vi älskar att spela sällskapsspel men finner det både kostsamt och ohållbart att köpa nya spel, vi kom då på idén med Byta Spel. <br>
                Ett snabbt och enkelt sätt att låna ut eller skänka bort sina begaganade spel och i gengäld kunna låna/få hem andra användares spel.

<!--                Vi tror att delningsekonomin bara har startat och att den redan har ha en positiv påverkan på miljön.<br>-->
<!--                Delningsekonomin kommer fortsätta växa och hitta nya områden och detta är ett exempel på ett nytt-->
<!--                område!<br><br>-->
                Byta Spel är hemsidan för dig som älskar att spela sällskapspel och som vill dela spelglädjen med andra medlemmar runt om i Stockholm. Genom att låna eller låna ut dina begagnade spel gör du både en god sak för miljön och plånboken.
                På Byta spel kan du välja att låna ut eller skänka bort dina begagnade spel till andra medlemmar och även få möjligheten till att själv låna hem spel från andra användare.
                De begagnade spelen ska vara i gott skick så att spelupplevelsen blir lika rolig i begagnat som nytt skick. <br>
                Att annonsera på Byta spel är helt gratis! <br>
                För att låna ut eller skänka bort ett spel lägger du enkelt upp spelet på Byta Spel hemsida, där kan du sedan chatta med användare som är intresserade av det upplagda spelet.
                Är du intresserad av att låna hem ett spel kontakar du den ansvariga användaren och kommer överens om när och var ni vill ses för en överlämning av spelet.

            </p>
        </div>
        <nav class="navbar navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/spel"><img id="logo" src="bytaspel2.png" alt="logo"></a>
                </div>
            </div>
        </nav>

        <nav class="navbar navbar-fixed-bottom">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"></a>
                </div>
                <div class="footer-copyright"><br>
                    <p>© 2020 Copyright: Byta Spel</p>
                </div>
            </div>
        </nav>



</body>
</html>