<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>
    <form action="/addSpel" method="POST" th:object="${spel}">



    <div class="navbar navbar-light" style="background-color: black">
        <a class="navbar-brand" href="#">
            <span style="color:#CEE2B3" th:text="Spel"></span>
            <a style="color:#CEE2B3 " href="/logout">Logga ut </a></button>
        </a>
    </div>

    <div class="navbar navbar-light" style="background-color: black">
        <a class="navbar-brand" href="#">
            <span style="color:#CEE2B3" th:text="Spel"></span>
            <a style="color:#CEE2B3 " href="/logout">Tillbaka till startsida </a></button>
        </a>
    </div>



<div class ="form" style = "color: black;">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="form-group row">
            <div class="p-5 bg-sucess">
                <div class="text-center">
                    <p class = "title" style = "color: black;"><h2>Lägg upp spel </h2></p>

                        <label for kategori="category" class="col-md-auto col-form-label"><h4>Spel namn</h4></label>
                        <input type="text" class="form-control" name="name" placeholder="Spel namn" th:field="*{name}">

                    <br>
                        <h4> Välj kategori</h4>
                            <div class="form-group">

                                <select class="form-control" id="sel1" th:field="*{category}">
                                    <option value="Barnspel">Barnspel</option>
<!--
                                    <option value="Familjespel">Familjespel</option>
                                    <option value="Frågesportsspel">Frågesportsspel</option>
                                    <option value="Musikspel">Musikspel</option>
                                    <option value="Pussel">Pussel</option>
                                    <option value="Strategispel">Strategispel</option>
                                    -->

                                </select>

                    <br>

                                <h4>Status</h4>
                                    <div class="form-group">
                                        <select class="form-control" id="sel2" th:field="*{status}">
<!--
                                            <option value="Skänka bort">Skänka bort</option>
                                            <option value="Låna ut">Låna ut</option>-->

                                        </select>
                                        <br>

                                        <h4>Var kan spelet lämnas ut?</h4>

                                            <div class="form-group">
                                                <select class="form-control" id="sel3" th:field="*{location}">

                                                 <!--   <option value="Botkyrka">Botkyrka</option>
                                                    <option value="Danderyd">Danderyd</option>
                                                    <option value="Ekerö">Ekerö</option>
                                                    <option value="Haninge">Haninge</option>
                                                    <option value="Huddinge">Huddinge</option>
                                                    <option value="Järfälla">Järfälla</option>
                                                    <option value="Lidingö">Lidingö</option>
                                                    <option value="Nacka">Nacka</option>
                                                    <option value="Norrtälje">Norrtälje</option>
                                                    <option value="Nykvarn">Nykvarn</option>
                                                    <option value="Nykvarn">Nykvarn</option>
                                                    <option value="Salem">Salem</option>
                                                    <option value="Sigtuna">Sigtuna</option>
                                                    <option value="Sollentuna">Sollentuna</option>
                                                    <option value="Solna">Solna</option>
                                                    <option value="Stockholm">Stockholm</option>
                                                    <option value="Sundbyberg">Sundbyberg</option>
                                                    <option value="Södertälje">Södertälje</option>
                                                    <option value="Tyresö">Tyresö</option>
                                                    <option value="Täby">Täby</option>
                                                    <option value="Upplands-Bro">Upplands-Bro</option>
                                                    <option value="Upplands Väsby">Upplands Väsby</option>
                                                    <option value="Vallentuna">Vallentuna</option>
                                                    <option value="Vaxholm">Vaxholm</option>
                                                    <option value="Värmdö">Värmdö</option>
                                                    <option value="Österåker">Österåker</option>-->

                                                </select>
                                                <br>
                                                <input type="submit" class="btn btn-primary" value="Lägga upp"></input>




                </div></div>
            </div>

            </div>
        </div>
    </div>
</div>
</div>
    </form>
</body>
</html>