<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>


<div class ="form" style = "color: black;">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="form-group row">
            <div class="p-5 bg-sucess">
                <div class="text-center">
                    <p class = "title" style = "color: black;"><h2>Lägg till spel </h2></p>

                    <form action="/addSpel" method="POST">
                        <label for kategori="category" class="col-md-auto col-form-label"><h4>Spel namn</h4></label>
                        <input type="text" class="form-control" name="name" placeholder="Spel namn">

                    </form>
                    <br>
                        <h4>Spelkategori</h4>
                            <div class="form-group">

                                <select class="form-control" id="sel1">
                                    <option>Barnspel</option>
                                    <option>Familjespel</option>
                                    <option>Frågesportsspel</option>
                                    <option>Musikspel</option>
                                    <option>Pussel</option>
                                    <option>Strategispel</option>
                                </select>
                    <br>

                                <h4>Status</h4>
                                <form>
                                    <div class="form-group">
                                        <select class="form-control" id="sel2">
                                            <option>Skänka bort</option>
                                            <option>Låna ut</option>
                                        </select>
                                        <br>

                                        <h4>Plats</h4>
                                        <form>
                                            <div class="form-group">
                                                <select class="form-control" id="sel3">
                                                    <option>Botkyrka</option>
                                                    <option>Danderyd</option>
                                                    <option>Ekerö</option>
                                                    <option>Haninge</option>
                                                    <option>Huddinge</option>
                                                    <option>Järfälla</option>
                                                    <option>Lidingö</option>
                                                    <option>Nacka</option>
                                                    <option>Norrtälje</option>
                                                    <option>Nykvarn</option>
                                                    <option>Nynäshamn</option>
                                                    <option>Salem</option>
                                                    <option>Sigtuna</option>
                                                    <option>Sollentuna</option>
                                                    <option>Solna</option>
                                                    <option>Stockholm</option>
                                                    <option>Sundbyberg</option>
                                                    <option>Södertälje</option>
                                                    <option>Tyresö</option>
                                                    <option>Täby</option>
                                                    <option>Upplands-Bro</option>
                                                    <option>Upplands Väsby</option>
                                                    <option>Vallentuna</option>
                                                    <option>Vaxholm</option>
                                                    <option>Värmdö</option>
                                                    <option>Österåker</option>
                                                </select>


                </div>
                        </form></div>
                        </form></div>
                    </form></div>
            </div>
        </div>
    </div>
</div>

</body>
</html>