<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="logo2.png"/>
</head>
<body>


<form action="/barnspel" method="POST"></form>

<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/spel"><img id="logo" src="bytaspel2.png" alt="logo"></a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/omoss" style="color: black">Om oss</a></li>
        </ul>
        <div class="footer-copyright"><br>
            <p>© 2020 Copyright: Byta Spel</p>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">

<tr th:each="barn: ${barnspel}">
    <h5>Namn:</h5>
    <td th:text="${barn.Name}"></td>
    <h5>Plats:</h5>
    <td th:text="${barn.Location}"></td><br>
    <h5>Typ av byte:</h5>
    <td th:text=" ${barn.TypeOfExchange}"></td>
    <br><br>
</tr>

        </div></div></div>
</body>
</html>