<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="logo2.png"/>
</head>
<body>
<div th:replace="fragments2 :: header2"></div>

<form action="/barnspel" method="POST"></form>

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col">

<tr th:each="barn: ${barnspel}">
    <h5>Namn:</h5>
    <td th:text="${barn.Name}"></td>
    <h5>Plats:</h5>
    <td th:text="${barn.Location}"></td><br>
    <h5>Typ av byte:</h5>
    <td th:text=" ${barn.TypeOfExchange}"></td>
    <br><br>
</tr>

        </div></div></div>

<div th:replace="fragments2 :: footer2"></div>
</body>
</html>