<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
</head>
<body>


    <form action="/confirmation" method="POST">


    <div class="navbar navbar-light" style="background-color: black">
        <a class="navbar-brand" href="#">
            <span style="color:#CEE2B3" th:text="Spel"></span>
            <a style="color:#CEE2B3 " href="/logout">Logga ut </a></button>
        </a></div></form>

            <span style="color:#CEE2B3" th:text="Spel"></span>
            <a style="color:#CEE2B3 " href="/spel">Tillbaka till startsida </a></button>
        </a></div></form>


<div class ="form" style = "color: black;">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="form-group row">
            <div class="p-5 bg-sucess">
                <div class="text-center">
                    <p class = "title" style = "color: black;"><h2>Ditt spel är nu upplagd!</h2></p>

                </div>
            </div>
        </div>
    </div>
</div>








</body>
</html>