<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Galada&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="logo2.png"/>
</head>
<body>
<div th:replace="fragments2 :: header2"></div>

<form action="/familjespel" method="POST"></form>

<div class="container">
    <div class="row justify-content-center">
    <div th:each="familj: ${familjespel}" class="col-md-3">
        <div class="card" style="width: 18rem;">
            <div class="card-body" >
                <h5 class="card-title">Spelnamn:</h5>
                <span class="card-text" th:text="${familj.GameName}"></span>
    <h5>Plats:</h5>
    <td th:text="${familj.Location}"></td><br>
    <h5>Typ av byte:</h5>
    <td th:text="${familj.TypeOfExchange}"></td>
    <br>
    <h5>Användarens uppgifter</h5>
    <h5>Mail:</h5>
    <a href=mailto: subject="HTML link"> <td th:text="${familj.UserInfo.Mail}"></td></a><br>
    <!--    <td th:text="${frage.UserInfo.Mail}"></td><br>-->
    <h5>Användarnamn</h5>
    <td th:text="${familj.UserInfo.userName}"></td>
    <br>
    <br><br>
            </div></div></div></div></div></div>

<div th:replace="fragments2 :: footer2"></div>
</body>
</html>
