<!DOCTYPE html>
<html lang="en">
<head>

    <head>
        <title>Title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" type="image/png" href="logo2.png" />
    </head>
    
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">

    <form action="/skickat" method="POST"></form>

    <h3>Ditt meddelande har skickats</h3>

    <button type="button" class="btn btn-light">
        <a href="/minasidor">Gå tillbaka</a></button>

    <button type="button" class="btn btn-light">
        <a href="/meddelande">Skicka ett nytt meddelande</a></button>

        </div></div>

<body>

</body>
</html>