<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>

<form action="/minasidor" th:object="${user}" method="POST"></form>
<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #e2e2e2;">


    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/spel" style="color: black">Startsida<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/addSpel" style="color: black">Lägg upp spel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/minasidor" style="color: black">Meddelanden</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/logout" style="color: black">Logga ut</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Sök" aria-label="Search">
            <button class="btn btn-outline-secondary my-2 my-sm-0" type="submit" style="color: black">Sök</button>
        </form>
    </div>
</nav>
</div></div></nav>
<div class="form" style="color: rgb(255,255,255);">
    <div class="d-flex justify-content-left align-items-left container">
        <div class="form-group row">
            <div class="p-5 bg-sucess">
                <p class="text-left"><br><br><br>
                <p class="title" style="color:black;"> Mina upplagda spel</p>

                <br>
                <p>Namn: Portofino, Italien</p>
                <p>1000 bitar</p>
                <p>Plats: Södermalm</p>
                <p>  <p>Status:</p>
                <div>

                    <input type="radio" name="status" id="lt20" value="lt20"> <label for="lt20" style="color: black">Utlånad</label>
                </div>
                <div>

                    <input type="radio" name="status" id="20to39" value="20to39"><label for="20to39" style="color: black">Tillgänglig</label>
                </div>

            </div>
                </p>



            </form>


        </div>
        </div>
    </div>
</div>
</div>
</body>
</html>

<!--
<form action="/minasidor" th:object="${user}" method="POST"></form>
<nav class="navbar fixed-top" style="background-color: black">
    <div class="navbar-brand" href="#">
        <a style="color:#CEE2B3 " href="/logout">Tillbaka till startsida </a></button><p></p>
        <a style="color:#CEE2B3 " href="/logout">Logga ut</a></button>
        <a style="color:#CEE2B3 " href="/addSpel">Lägg upp spel </a></button>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div></div></nav>
<div class="form" style="color: rgb(255,255,255);">
    <div class="d-flex justify-content-center align-items-center container">
        <div class="form-group row">
            <div class="p-5 bg-sucess">
                <div class="text-center">
                    <p class="title" style="color: rgb(255,255,255);"></p>
<h1>Mina sidor</h1>

                </div></div></div></div></div>
</body>
</html> -->