<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="logo2.png"/>
    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto+Slab:800&display=swap" rel="stylesheet">
</head>
<body>
<div>

    <form action="/minasidor1" th:object="${user}" method="POST"></form>
    <br><br>  <h2>Mina upplagda spel</h2></p></div>
    <div class="kategoriertext">
        <div class="container">
            <div class="row justify-content-center">
                <p class="title" style="color:black;">

                <div th:each="user: ${user}" class="col-md-3">
                    <div class="card bg-info" style="width: 20rem; background-color: #ecf7fc;">
                        <img class="card-img-top" src="kategoribild.jpg" alt="Card image" style="width:200px">
                        <div class="card-body-text-center"> <div class="card" style="width: 35rem;">
                        <div class="card-body">
                            <h5 class="card-title">Spelnamn:</h5>
                            <span class="card-text" th:text="${user.GameName}"></span><br>
                            <h5>Plats:</h5>
                            <td th:text="${user.Location}"></td>
                            <br>
                            <h5>Användarnamn</h5>
                            <td th:text="${user.UserInfo.UserName}"></td><br><br>
                            <div class="col-sm-center">
                                <a th:href="${'/delete/' + user.gameId}" input type="submit" class="btn btn-primary"
                                   value="Ta bort spel" style="background-color: #f25e5e">Ta bort spel</a>
                            </div>
                        </div></div>
                            <br><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/spel"><img id="logo" src="bytaspel2.png" alt="logo"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/addSpel" style="color: black">Lägg upp spel</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/logout" style="color: black"><span class="glyphicon glyphicon-log-out"></span> Logga ut</a>
            </li>
        </ul>
    </div>
</nav>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/omoss" style="color: black">Om oss</a></li>
        </ul>

        <div class="footer-copyright"><br>
            <p>© 2020 Copyright: Byta Spel</p>

        </div>
    </div>
</nav>

</body>
</html>
