<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto+Slab:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="logo2.png"/>
</head>
<body>
<div th:replace="fragments2 :: header2"></div>

<form action="/pussel" method="POST"></form>

<div class="kategoriertext">
<div class="container">
    <div class="row justify-content-center">
        <div th:each="pussel: ${pussel}" class="col-md-3">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Spelnamn:</h5>
                    <span class="card-text" th:text="${pussel.GameName}"></span>
                    <h5>Plats:</h5>
                    <td th:text=" ${pussel.Location}"></td>
                    <h5>Typ av byte:</h5>
                    <td th:text=" ${pussel.TypeOfExchange}"></td>
                    <br>
                    <h5>Användarens uppgifter</h5>
                    <h5>Mail:</h5>
                    <a href=mailto: subject="HTML link">
                        <td th:text="${pussel.UserInfo.Mail}"></td>
                    </a><br>
                    <!--    <td th:text="${frage.UserInfo.Mail}"></td><br>-->
                    <h5>Användarnamn</h5>
                    <td th:text="${pussel.UserInfo.userName}"></td>
                    <br>
                    <br><br>
<!--                    <a href="/meddelande" class="btn btn-primary">Skicka meddelande</a>-->
                </div>
            </div>
        </div>
    </div></div>

    <div th:replace="fragments2 :: footer2"></div>

    <div class="pagination2">
        <span th:if="${showPrev}">
            <a th:href="'/pussel?page=' + ${currentPage-1}">Previous</a>
        </span>

        <span th:each="page : ${pages}">
            <span th:if="${currentPage == page}" th:text="${page}"></span>
            <a th:if="${currentPage != page}" th:href="'/pussel?page=' + ${page}" th:text="${page}"></a>
        </span>

        <span th:if="${showNext}">
            <a th:href="'/pussel?page=' + ${currentPage+1}">Next</a>
        </span>
    </div>
</div>

</body>
</html>