<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Muli|Roboto+Slab:800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="logo2.png"/>
</head>
<body>

<form action="/searchResult" method="POST"></form>
<br><br>
<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/spel"><img id="logo" src="bytaspel2.png" alt="logo"></a>
        </div>
    </div>
</nav>

<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/omoss" style="color: black">Om oss</a></li>
        </ul>
        <div class="footer-copyright"><br>
            <p>© 2020 Copyright: Byta Spel</p>
        </div>
    </div>
</nav>


<div class="kategoriertext">
<div class="container">
    <div class="row justify-content-center">
        <div th:each="search: ${searchResult}" class="col-md-3">
            <div class="card bg-info" style="width: 20rem; background-color: #ecf7fc;">
                <img class="card-img-top" src="kategoribild.jpg" alt="Card image" style="width:200px">
                    <h5 class="card-title">Spelnamn:</h5>
                    <span class="card-text" th:text="${search.GameName}"></span><br>
    <h5>Plats:</h5>
    <td th:text="${search.Location}"></td><br>
    <h5>Typ av utbyte:</h5>
    <td th:text="${search.TypeOfExchange}"></td><br>
    <h5>Användarens uppgifter</h5>
                    <h5>Mail:</h5>
                        <a href=mailto: subject="HTML link"> <td th:text="${search.UserInfo.Mail}"></td></a><br>
                    <h5>Användarnamn:</h5>
                        <td th:text="${search.UserInfo.UserName}"></td></div></div>
    <br><br>
</tr>
</div>
            </div></div></div></div></div></div>

</body>
</html>