<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/startpage" method="POST">
    <div class="navbar navbar-light" style="background-color: black">
        <a class="navbar-brand" href="#">
            <span style="color:#CEE2B3" th:text="Spel"></span>
            <a style="color:#CEE2B3 " href="/logout">Logga ut </a></button>
        </a></div></form>



<div class="row">
    <div class="column">
        <img src="pussel1.jpg" alt="Pussel" style="width:100%">
    </div>
    <div class="column">
        <a href="/">Strategispel</a>
        <img src="strategi.jpg" alt="Strategi" style="width:100%">
    </div>
    <div class="column">
        <a href="/familjespel">Familjespel</a>
        <img src="familjespel.jpg" alt="Familjespel" style="width:100%">
    </div>
    <div class="column">
        <img src="fragesport.jpg" alt="Fragesport" style="width:100%">
    </div>
    <div class="column">
        <img src="musik.jpg" alt="Musik" style="width:100%">
    </div>
    <div class="column">
        <img src="barnspel.jpg" alt="Barnspel" style="width:100%">
    </div>
</div>

</body>
</html>