<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="utf-8">
    <meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="style.css">
</head>
<body>
<form action="/startpage" method="POST">
    <div class="navbar navbar-light" style="background-color: black">
        <a class="navbar-brand" href="#">
            <a style="color:#CEE2B3 " href="/logout">Logga ut </a></button>
            <a style="color:#CEE2B3 " href="/addSpel">Lägg upp spel </a></button>
        </a></div></form>



<div class="row">
    <div class="column">
        <p><a href="/pussel">Pussel</a></p>
        <img src="pussel1.jpg" alt="Pussel" class="img-thumbnail">
    </div>
    <div class="column">
        <p><a href="/strategispel">Strategispel</a></p>
        <img src="strategi.jpg" alt="Strategi" class="img-thumbnail">
    </div>
    <div class="column">
        <p><a href="/familjespel">Familjespel</a></p>
        <img src="familjespel.jpg" alt="Familjespel" class="img-thumbnail">
    </div>
    <div class="column">
        <p><a href="/fragesport">Frågesport</a></p>
        <img src="fragesport.jpg" alt="Fragesport" class="img-thumbnail">
    </div>
    <div class="column">
        <p><a href="/musik">Musik</a></p>
        <img src="musik.jpg" alt="Musik" class="img-thumbnail">
    </div>
    <div class="column">
        <p><a href="/barnspel">Barnspel</a></p>
        <img src="barnspel.jpg" alt="Barnspel" class="img-thumbnail">
    </div>
</div>

</body>
</html>